
/* ### ### ### */

div#dw__toc {
	/* Vars */
	/* Display */
	display: flex;
	flex-flow: column nowrap;
	gap: .7rem;
	/* Flex */
	/* Position */
	/* Settings */
	float: right;
	/* Font */
	font-size: .8rem;
	/* Text */
	/* Color */
	color: inherit;
	background: var(--main-color);
	/* Box */
	padding: 1rem;
	border: solid var(--dark-color);
	border-width: .1rem 0 0 .1rem;
	margin: 0 0 .5rem 1.5rem;
	/* Size */
	width: 16rem;
}

div#dw__toc h3,
div#dw__toc ul {
	/* Box */
	margin: 0;
}

div#dw__toc ul {
	/* Box */
	padding-left: 1rem;;
}

div#dw__toc ul li {
	/* Box */
	padding: 0;
	margin: 0;
}

div#dw__toc strong > span {
	/* Box */
	margin-right: 1rem;
}
